<!-- Current Data : (Local) {{today | date:'medium'}} <br>
Current Data : (Paris) {{today | date:'fullDate':'GMT+2'| uppercase}} -->

<label>Filter city:</label>
<input [(ngModel)]="city">
<button type="button" (click)="onCityFilter()">Search</button>
<button type="button" (click)="onCityFilterClear()">Clear</button>

<div class="row">
    <div *ngFor="let Property of properties  | filter:searchCity:'City'" class="col-sm-4 p-3">
        <app-property-card [property]="Property"></app-property-card>
    </div>
</div>